<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{% if page.title %} {{ page.title }} | {% endif %}</title>
    <meta name="description" content="Earbug Inc.">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/styles.css">
    <meta name="robots" content="noindex, nofollow">
  </head>
  <body>
    {{content}}
    {% include footer.html %}
  </body>
</html>